<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>These are examples of API's in action</title>
  </head>
  <body>
  	<h1> Music Is Fun </h1>
      <div>
        <h2>Spotify Artist Search</h2>
        <div>
          <label for="spotify-q"></label>
          <input type="text" name="q" value="" id="spotify-q">
          <input type="button" name="name" value="Search" id="spotify-q-button">
          <h3>Spotify Search Results:</h3>
          <div id="q-results" class="results"></div>
        </div>
        <hr>
      </div>
      <div id='albums-and-tracks'></div>
  </body>
</html>